// Import page-specific CSS files here.
@import "home";

body {
  background-color: white;
}

.page-wrapper {
  width: 100%;
}

.card {
  border-color: black;
  margin: 10px;
  max-width: 30%;
  // padding: 20px;
}

.item_photo {
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
}

.price {
  text-align: right;
  font-weight: bold;
}
