<div class="container text-center page-wrapper">

<div class='row justify-content-center'>
<div class="col-xs-12 col-sm-6 col-md-4">
<h1>You have booked your <%= @item.title %> ! 🎉 </h1>
 <%= cl_image_tag(@item.photo, class: "show_photo") %>
    <br>
    <h4 class="mt-10"><%= @item.description %></h4>
    <br>
<%= link_to profile_path do %>
<button type="button" class="profile_button btn btn-outline-dark ">Go to profile
</button>
<% end %>
</div>
</div>
</div>

